@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e7e7e7;
  -webkit-font-smoothing: antialiased;
  color: #545e6f;
  display: flex;
  justify-content: center;
  align-items: center;
}   